<div id="page-content">
  <h1 class="text-center mt-4">Listing all articles</h1>

  <div class="container">
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
  <% end %>
  </div>

  <p>
  <%= link_to 'Create new article', new_article_path %>
  </p>
</div>